-
	const burgerLinks = [
		{
			text: 'Мы',
			id: 'request'
		},
		{
			text: 'Возможности',
			id: 'opportunities'
		},
		{
			text: 'Преимущества',
			id: 'advantages'
		},
		{
			text: 'Галерея',
			id: 'gallery'
		},
		{
			text: 'События',
			id: 'events'
		},
		{
			text: 'Отзывы',
			id: 'reviews'
		},
		{
			text: 'Контакты',
			id: 'contacts'
		},
	]
	const burgerSocial = [
		{
			name: 'VK',
			url: 'https://vk.com/'
		},
		{
			name: 'OK',
			url: 'https://ok.ru/'
		},
		{
			name: 'Telegram',
			url: 'https://web.telegram.org/'
		},
	]
	
.burger__menu
	.burger__header 
		.header__top-burger
		.header__top-ice.ice-small
			a(href='https://google.com' target="_blank") Бронь льда
		.header__top-ice.ice-large
			a(href='https://google.com' target="_blank") Забронировать лед
		.header__top-number 
			a(href='tel:84956020232') 8 495 602 02 32
	.header__logo-wrapper
		.header__logo
			img.header__logo-img(src='@img/header/logo.png')
	.burger__content
		nav.burger__nav 
			each li in burgerLinks
				li.burger__nav-li
					a.burger__nav-a.title(href=`#${li.id}`)= li.text
		.burger__footer
			.burger__footer-wrapper
				.burger__footer-contacts.burger__contacts
					.burger__contacts-text  Мы в соцсетях:
					.burger__contacts-links 
						each link in burgerSocial
							a.burger__contacts-a(href= link.url target="_blank")= link.name
				.burger__footer-address.burger__address Москва, #[br]Волоколамское шоссе, д.88