section.contacts#contacts
	.contacts__wrapper.wrapper 
		h2.contacts__title.title Контакты
		.contacts__content
			.subtitle-small.contacts__address Москва, Волоколамское шоссе, д. 88
			a(href='tel:84956020232').subtitle-small.contacts__link Тел: 8 495 602 02 32
			a(href='https://mail.yandex.ru/' target="_blank").subtitle-small.contacts__link Почта: aolkluch@yandex.ru