-
	const footerSocial = [
		{
			name: 'VK',
			url: 'https://vk.com/'
		},
		{
			name: 'OK',
			url: 'https://ok.ru/'
		},
		{
			name: 'Telegram',
			url: 'https://web.telegram.org/'
		},
	]

footer.footer
	.footer__wrapper.wrapper
		.footer__grid
			.footer__col 
				.footer__item.text © 2022
				.footer__item 
					.footer__contacts-text.text  Мы в соцсетях:
					.footer__contacts-links.text 
						each link in footerSocial
							a.text.footer__contacts-a(href= link.url target="_blank")= link.name
			.footer__col
				.footer__item.center
					.footer__logo
						img.footer__logo-img(src='@img/header/logo.png')
				.footer__item.text Политика конфеденциальности
			.footer__col
				.footer__item.text Ледовый комплекс «Луч».#[br] Все права защищены.
				.footer__item.text Москва, Волоколамское шоссе, д.88