header.header 
	include header-menu
	.header__logo
		img.header__logo-img(src='@img/header/logo.png')
	.header__text
		span.header__text-title_small новый
		h1.header__text-title.title Ледовый комплекс  
		span.header__text-title_small в москве
	.header__address.text Москва,#[br]Волоколамское шоссе, д.88
	.header__squares 
	include burger-menu
