.header__top 
	.header__top-burger
	.header__top-ice.ice-small
		a(href='#' data-modal='bookingModal') Бронь льда
	.header__top-ice.ice-large
		a(href='#' data-modal='bookingModal') Забронировать лед
	.header__top-number
		a(href='tel:84956020232') 8 495 602 02 32