.ice__booking-wrapper.form
	form#ice__booking-form.ice__booking-form.form__body(action='#')
		.form__close
		h2.form__title.title-48 Бронирование льда
		.form__inputs
			.form__item
				input#formName(type="text" name='name' placeholder='Имя')._req.text.form__input
			.form__item
				input#formEmail(type="text" name='email' placeholder='E-mail')._req._email.text.form__input
		.form__item
			input#formDate(type="text" name='date' placeholder='Дата и время')._req.text.form__input.form__date
		.form__item
			textarea#formMessage(name="message" placeholder='Сообщение').text.form__input
		p.form__agreement Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности.
		button.button.form__button(type='submit') Отправить