section.questions
	.questions__content
		.questions__title.title-small остались вопросы?
		.questions__subtitle.subtitle-small свяжитесь с нами
	button.questions__button.button(data-modal='connectModal') связаться