section.request
	.request__content
		.request__content-title Мы предлагаем ледовую площадку для тренировок по хоккею и занятий фигурным катанием
		button.request__content-button.button оставить заявку
	.request__swiper 
		p asdasd
