.ice-small
	display: none
	@media screen and ( max-width: 1023.98px )
		display: block
.ice-large
	@media screen and ( max-width: 1023.98px )
		display: none

.header
	width: 100%
	background-image: url('@img/header/background.png')
	background-position: center top
	background-size: cover
	background-repeat: no-repeat
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center
	position: relative
	@include adaptiveProp('background-size', 1920, 1280, 1920, 1024)
	@include adaptiveProp('background-size', 1280, 1000, 1024, 319)
	&__squares
		justify-self: flex-start
		align-self: flex-start
		width: 597px
		height: 625px
		bottom: 0
		left: 0
		background-image: url('@img/header/squares.png')
		background-position: bottom left
		background-size: contain
		background-repeat: no-repeat
		z-index: -1
		margin-top: -15rem
		@include adaptiveProp('margin-top', -300, -120, 1920, 1024)
		@include adaptiveProp('margin-top', -120, -40, 1024, 319)
		@include adaptiveProp('width', 597, 290, 1920, 1024)
		@include adaptiveProp('height', 625, 290, 1920, 1024)
		@include adaptiveProp('width', 290, 130, 1024, 319)
		@include adaptiveProp('height', 290, 130, 1024, 319)
	&__top
		padding: 2rem
		@include adaptiveProp('padding', 40, 20, 1920, 319)
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		&-ice,
		&-number
			overflow: hidden
		&-ice a,
		&-number a
			@include font('Druk Cyr', 1.6rem, 500)
			font-size: 1.6rem
			@include adaptiveProp('font-size', 32, 18, 1920, 319)
			font-style: italic
			line-height: 1.28em
			letter-spacing: 0.156em
			text-transform: uppercase
			color: $color-white
			text-decoration: none
			transition: $transition
			position: relative
			&::after
				content: ''
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				height: 2px
				transition: $transition
				background-color: $color-white
				transform: translateX(-120%)
			&:hover
				color: $color-red
				&::after
					background-color: $color-red
					transform: translateX(0)
			@media screen and ( max-width: 475px )
				letter-spacing: 0.1em
		&-burger
			cursor: pointer
			height: 3rem
			width: 3rem
			position: absolute
			left: 50%
			transform: translateX(-50%)
			@include adaptiveProp('width', 60, 40, 1920, 319)
			@include adaptiveProp('height', 60, 40, 1920, 319)
			&.active
				&::after
					transform: rotate(-45deg) translateY(-50%) translateX(-50%)
				&::before
					transform: rotate(45deg) translateY(50%) translateX(-50%)
			&::after,
			&::before
				content: ''
				position: absolute
				width: 3rem
				height: 4px
				@include adaptiveProp('width', 60, 40, 1920, 319)
				@include adaptiveProp('height', 4, 2, 1920, 319)
				background: $color-white
				left: 50%
				transition: $transition
				transform-origin: center left
			&::after
				top: 50%
				transform: translateY(100%) translateX(-50%)
			&::before
				bottom: 50%
				transform: translateY(-100%) translateX(-50%)
	&__logo
		position: relative
		width: 266px
		margin-top: 3rem
		@include adaptiveProp('width', 266, 144, 1920, 1024)
		@include adaptiveProp('width', 144, 100, 1024, 319)
		@include adaptiveProp('margin-top', 60, 40, 1920, 1024)
		@include adaptiveProp('margin-top', 40, 40, 1024, 319)
		&-img
			width: 100%
	&__text
		margin-top: 4.5rem
		@include adaptiveProp('margin-top', 90, 40, 1920, 319)
		display: flex
		align-items: flex-start
		@media screen and ( max-width: 1024px )
			flex-direction: column
			align-items: center
			justify-content: center
		&-title
			@include adaptiveProp('font-size', 96, 56, 1920, 1024)
			@include adaptiveProp('font-size', 56, 42, 1024, 319)
			margin: 0 0.33em
			&_small
				@include font('Druk Cyr', 1.6rem, 500)
				@include adaptiveProp('font-size', 32, 22, 1920, 1024)
				@include adaptiveProp('font-size', 22, 22, 1024, 319)
				font-style: italic
				line-height: 1.1875em
				letter-spacing: 0.156em
				text-transform: uppercase
				color: #FFFFFF
				padding-top: 1rem
				@media screen and ( max-width: 1024px )
					padding-top: 0
	&__address
		line-height: 1.4rem
		text-align: center
		font-size: 1rem
		margin-top: 16rem
		@include adaptiveProp('font-size', 20, 12, 1920, 319)
		@include adaptiveProp('margin-top', 320, 120, 1920, 319)
		@include adaptiveProp('margin-top', 320, 208, 1920, 1024)
		@include adaptiveProp('margin-top', 158, 120, 1024, 319)
