doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Main Page
	body
		include components/header
		
		include components/request
		
		include components/hockey-grid
		
		include components/opportunities

		include components/advantages

		include components/gallery
		
		include components/events

		include components/reviews

		include components/contacts
		
		include components/questions
		
		include components/footer
		script(src='js/app.min.js')
