doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Спасибо!
	body
		header.thanks__header
			include components/header-menu
			.thanks__logo
				img.thanks__logo-img(src='@img/thanks/logo-blue.png')
			.thanks__content 
				.thanks__title.title Спасибо
				.thanks__text.text Ваша заявка отправлена.#[br] В ближайшее время с вами свяжется менеджер по указанным контактным данным.
				button.thanks__button.button на главную
			include components/burger-menu
		
		include components/connect-us-modal
		
		include components/ice-booking-modal

		include components/footer
		script(src='js/app.min.js')
