@font-face
	font-family: Druk Cyr
	font-display: swap
	src: url('../fonts/DrukCyr-Medium-Italic.woff2') format('woff2'), url('../fonts/DrukCyr-Medium-Italic.woff') format('woff'),
	font-weight: 500
	font-style: italic
