//vars
$color-white: #fff
$color-black: #000
$color-blue: #0069E4
$color-red: #E0013F

$font-size: 20px
$font-family: 'IBM Plex Sans'

$transition: 0.3s all ease-in-out

//global styles	
*,
*::after,
*::before
	box-sizing: border-box

html
	margin-right: calc(-1 * (100vw - 100%))
body,
html
	overflow-x: hidden
	height: 100%
	font-size: $font-size
	font-family: $font-family
	color: $color-black
	font-weight: 400

svg path
	color: inherit
	stroke: inherit
	fill: inherit

body.no-scroll
	overflow: hidden

.wrapper
	padding: 0 10rem
	@include adaptiveProp('padding-left',200,110,1920,1024)
	@include adaptiveProp('padding-left',110,20,1024,319)
	@include adaptiveProp('padding-right',200,110,1920,1024)
	@include adaptiveProp('padding-right',110,20,1024,319)

.title
	@include font('Druk Cyr', 4.8rem, 500)
	font-style: italic
	line-height: 1.27em
	letter-spacing: .177em
	text-transform: uppercase
	color: $color-white
	@include adaptiveProp('font-size', 96, 56, 1920, 1024)
	@include adaptiveProp('font-size', 56, 42, 1024, 319)
	@media screen and ( max-width: 1024px )
		letter-spacing: 0.1em

.text
	font-size: 1rem
	@include adaptiveProp('font-size', 20, 14, 1920, 1024)
	@include adaptiveProp('font-size', 14, 12, 1024, 319)
	line-height: 1.4em

.text-big
	font-size: 1.2rem
	line-height: 1.33em
	@include adaptiveProp('font-size', 24, 18, 1920, 1024)
	@include adaptiveProp('font-size', 18, 16, 1024, 319)

.button
	@include font('Bebas Neue', 1.1rem, 400)
	@include adaptiveProp('font-size', 22, 18, 1920, 1024)
	@include adaptiveProp('font-size', 18, 16, 1024, 319)
	line-height: 1em
	letter-spacing: 0.227em
	text-transform: uppercase
	color: $color-white
	padding: 0.9em 1.36em
	background: $color-blue
	border: none
	transition: 0.15s all ease
	&:hover
		border-radius: 5px
	&:active
		transform: translateY(5px)
		box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 1) inset

.title-small,
.subtitle-small
	font-style: italic
	text-transform: uppercase

.title-small
	@include font('Druk Cyr', 2.8rem, 500)
	line-height: 1.25em
	letter-spacing: 0.142em
	@include adaptiveProp('font-size', 56, 42, 1920, 1024)
	@include adaptiveProp('font-size', 42, 36, 1024, 319)

.subtitle-small
	@include font('Druk Cyr', 1.6rem, 500)
	line-height: 1.75em
	letter-spacing: 0.125em
	@include adaptiveProp('font-size', 32, 22, 1920, 1024)
	@include adaptiveProp('font-size', 22, 18, 1024, 319)


.my-swiper-prev,
.my-swiper-next
	transition: $transition
	justify-content: flex-start
	height: 20px
	top: 100%
	font-size: 0px
	&::after
		font-size: 0

.my-swiper-prev
	background: url('@img/request/Arrow-back.svg') center left / cover no-repeat
	left: 1px
	transform: translateY(-50%)

.my-swiper-next
	background: url('@img/request/Arrow-forward.svg') center right / cover no-repeat
	right: unset
	transform: translateY(-50%)
